#name {
  font-weight: bolder;
  font-size: larger;
}

@media only screen and (min-width: 1000px) {
  .nav {
    margin-left: 60px;
    width: 130px;
    height: 100%;
    position: fixed;
    overflow: auto;
  }
}

.nav {
  margin-top: 40px;
  padding-right: 0px;
  border-right: 0px;
  overflow: auto;

  color: black;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@media only screen and (max-width: 999px) {
  .nav {
    margin-left: 45px;
    position: relative;
    width: 89%;
    padding-bottom: 30px;
    overflow: auto;
  }
}

.links, a, #name, .linkss {
  display: block;
  block-size: 25px;
  color: black;
  text-decoration: none;
}

.links {
  font-size: larger;
}

.linkss {
  font-size: medium;
}

.linkss:hover, .links:hover, a.active {
  color:rgb(125, 125, 125);
}
