@media only screen and (min-width: 799px) {
  #body {
    padding-left: 220px;
    padding-top: 40px;
  }

  .gallery {
    padding-right: 60px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 0px;
  }

  .gallery img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {

  .gallery img {
    display: flex;
    justify-content: center;
    margin-left:5.5%;
    max-width: 90%;
    padding-bottom: 20px;
  }

  #profile {
    height: 100%;
    padding: 0% 22% 10% 22%;
    width: 55%;
    float: left;
    padding-right: 30px;
  }
  
  p {
    width: 70%;
    padding-left: 10%;
  }
}